/* color pallate */

:root{
    --color-primary: #3282AD;
    --color-secondary-dark: #3A3A3A;
    --color-secondary-light: #1C1B1F;
    --color-background:  #F5F5F5;
}


/*topography*/
 html{
    font-size: 62.5%;
 }

 img{
    width: 100%;
 }

 body{
    font-size: 1.6rem;
 }



/* top bar */

.topbar{
    padding:0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* btn */

.btn{
    background-color: white;
    border: 0.2rem solid black;
    color: black;
    padding: 1.5rem 3.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
}

/* btn discover */

.btn.discover{
    border: 0.2rem solid var(--color-primary);
    color: var(--color-primary);
}

/*btn show flights */
.goto{
    width: 2rem;
    margin-right: 1rem;
}

.btn.primary{
    background-color: var(--color-primary);
    color: white;
    display: inline-flex;
    border: 0.2rem solid var(--color-primary);
}



/* info bar */

.info-bar{
    color: var(--color-secondary-light);
    display: flex;
    flex-direction: column;
}

.bar{
    background-color: white;
    border: 0.2rem solid black;
    color: black;
    padding: 1.2rem 3.2rem;
    text-align: center;
    font-size: 1.6rem;
    margin:1.1rem 0.3rem;
    justify-content: space-between;
    position: relative;
    width: calc(100%-2rem);

}

.info-head{
    background-color: white;
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    margin: 0.4rem 0.3rem;
    padding: 0 0.2rem;
    position: absolute;
    z-index: 1;
    width: calc(100%-1rem);
    text-align: center;
    left:50%;
}

.info-date{
    color: var(--color-secondary-light);
    display: flex;
    align-items:center;
}

.date{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

/* price card */

.price-card{
    height: 50rem;
    margin: 2rem 1rem;
}

.loc{
    width: 2rem;
    margin-right: 1rem;
}

.btn-place{
    justify-content: flex-start;
    align-items: center;
    border: none;
    cursor: crosshair;
}